__pycache__/*
.DS_Store
build/
**/build/**
**/build-*/
**/cmake-build-*/
**/dist/**
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.o
*.a
*.so
*.dylib
*.pdb
*.exe
dist/
*.egg-info/
__pycache__/
.test/**
**/target/
**/Cargo.lock
.venv/
.ruff_cache/
.claude/
.integration/